@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Hotel Rooms";
}

<partial name="~/Views/Shared/_Page.cshtml" view-data="ViewData" />

<div class="container">
    <table class="table table-striped">
        <thead class="bg-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetFriendly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
