@model IEnumerable<AsyncInn.Models.Hotel>

@{
    ViewData["Title"] = "Hotels";
}

<partial name="~/Views/Shared/_Page.cshtml" view-data="ViewData" for="@Model" />

<div class="container">
    <form asp-controller="Hotels" asp-action="Index" class="input-group mb-3">
        <input type="text" name="SearchString" class="form-control" placeholder="Search Hotels by City or State" aria-label="Search Hotels" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table table-striped">
        <thead class="bg-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
